.NavBar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #baa0cc;
    width: 100%;
    min-height: 90px;
    position: static;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
li{
    color: black;
    list-style: none;
    font-size: 20px;
}
img{
    height: 80px;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

.count-products {
	position: absolute;
	top: 8%;
	right: 20%;
	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
